/* Set background color to white */
.searchButton {
    -fx-background-color: grey;
}

/* Set border radius */
.searchButton {
    -fx-background-radius: 20;
}
.searchButton:hover{
	-fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
